.emoji{
    display: flex;
    flex-direction:row;
    align-items:center;
    border: 1px solid #333;
    padding:10px;
    border-radius:10px;
}
.emoji__img{
    width:50px;
    margin-right: 20px;
}
.emoji__title{
    font-size:20px;
    font-weight:500;
}